<!doctype html>
<html lang="uk-UA">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Підтвердження електронної пошти</title>
  </head>
  <body>
    <!-- TODO: Change the name to the actual one -->
    <span
      style="
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        padding: 0;
        margin: 0;
        position: absolute;
        visibility: hidden;
      "
      >
        Привіт {{ user_name }}. Будь ласка, для підтвердження Вашої електронної пошти, перейдіть за посиланням, що вказане у цьому
        листі.
      </span>
    <h1
      style="
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        padding: 0;
        margin: 0;
        position: absolute;
        visibility: hidden;
      "
    >
      Підтвердження електронної пошти
    </h1>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="
        width: 100%;
        word-spacing: normal;
        max-width: 600px;
        border-collapse: collapse;
        border-spacing: 0px;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
      "
    >
      <tbody>
        <tr>
          <td align="center" style="direction: ltr; font-size: 0px; padding: 0px">
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0px;
                margin-top: 0px;
                margin-right: auto;
                margin-bottom: 0px;
                margin-left: auto;
              "
            >
              <tbody>
                <tr>
                  <td align="center" style="direction: ltr; vertical-align: top; font-size: 0px; padding: 0px">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                      style="
                        width: 100%;
                        background: #ffffff;
                        background-color: #ffffff;
                        border-radius: 6px 6px 0 0;
                        border-collapse: collapse;
                        border-spacing: 0px;
                        margin-top: 0px;
                        margin-right: auto;
                        margin-bottom: 0px;
                        margin-left: auto;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            align="center"
                            style="
                              direction: ltr;
                              vertical-align: top;
                              font-size: 0px;
                              padding-top: 24px;
                              padding-right: 24px;
                              padding-bottom: 24px;
                              padding-left: 24px;
                            "
                          >
                            <!-- TODO: Change path to the website (href) to the actual one -->
                            <a href="#" target="_blank">
                              <!-- TODO: Change path to the image (src) to the actual one -->
                                <img src="data:image/png;base64,{{ header_logo }}"
                                alt="Pet World logo"
                                width="178"
                                height="46"
                                style="
                                  border: 0;
                                  display: block;
                                  outline: none;
                                  text-decoration: none;
                                  width: 178px;
                                  height: 46px;
                                  font-size: 0px;
                                "
                              />
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="direction: ltr; vertical-align: top; font-size: 0px; padding: 0px">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                      style="
                        width: 100%;
                        border-collapse: collapse;
                        border-spacing: 0px;
                        margin-top: 0px;
                        margin-right: auto;
                        margin-bottom: 0px;
                        margin-left: auto;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            align="center"
                            style="
                              direction: ltr;
                              vertical-align: top;
                              font-size: 0px;
                              padding-top: 0px;
                              padding-right: 24px;
                              padding-bottom: 0px;
                              padding-left: 24px;
                            "
                          >
                            <hr
                              style="
                                border-top-width: 0px;
                                border-bottom-width: 1px;
                                border-style: solid;
                                border-color: #e8def8;
                              "
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="direction: ltr; vertical-align: top; font-size: 0px; padding: 0px">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                      style="
                        width: 100%;
                        background: #ffffff;
                        background-color: #ffffff;
                        border-collapse: collapse;
                        border-spacing: 0px;
                        margin-top: 0px;
                        margin-right: auto;
                        margin-bottom: 0px;
                        margin-left: auto;
                      "
                    >
                      <tbody>
                        <tr>
                          <!-- TODO: Change the name to the actual one -->
                          <td
                            align="center"
                            style="
                              direction: ltr;
                              vertical-align: top;
                              font-size: 32px;
                              padding-top: 32px;
                              padding-right: 24px;
                              padding-bottom: 32px;
                              padding-left: 24px;
                              word-break: break-word;
                              font-family: 'Roboto', Arial, sans-serif;
                              font-weight: 600;
                              line-height: 24px;
                              letter-spacing: 0.15px;
                              color: #000000;
                            "
                          >
                            Привіт {{ user_name }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="direction: ltr; vertical-align: top; font-size: 0px; padding: 0px">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                      style="
                        width: 100%;
                        background: #ffffff;
                        background-color: #ffffff;
                        border-collapse: collapse;
                        border-spacing: 0px;
                        margin-top: 0px;
                        margin-right: auto;
                        margin-bottom: 0px;
                        margin-left: auto;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            align="left"
                            style="
                              direction: ltr;
                              vertical-align: top;
                              font-size: 16px;
                              padding-top: 0px;
                              padding-right: 24px;
                              padding-bottom: 24px;
                              padding-left: 24px;
                              word-break: break-word;
                              font-family: 'Roboto', Arial, sans-serif;
                              font-weight: 400;
                              line-height: 24px;
                              letter-spacing: 0.15px;
                              color: #000000;
                            "
                          >
                            Будь ласка, для підтвердження Вашої електронної пошти, перейдіть за посиланням, що вказане у
                            цьому листі.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="direction: ltr; vertical-align: top; font-size: 0px; padding: 0px">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                      style="
                        width: 100%;
                        background: #ffffff;
                        background-color: #ffffff;
                        border-collapse: collapse;
                        border-spacing: 0px;
                        margin-top: 0px;
                        margin-right: auto;
                        margin-bottom: 0px;
                        margin-left: auto;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            align="left"
                            style="
                              direction: ltr;
                              vertical-align: top;
                              font-size: 16px;
                              padding-top: 0px;
                              padding-right: 24px;
                              padding-bottom: 24px;
                              padding-left: 24px;
                              word-break: break-word;
                              font-family: 'Roboto', Arial, sans-serif;
                              font-weight: 400;
                              line-height: 24px;
                              letter-spacing: 0.15px;
                              color: #5a00d6;
                            "
                          >
                            <!-- TODO: Change path to the website email approval page (href) to the actual one -->
                            <a
                              href="http://petworld.com/email_approval/{{ verification_token }}"
                              target="_blank"
                              style="
                                direction: ltr;
                                font-size: 16px;
                                padding: 0px;
                                word-break: break-word;
                                font-family: 'Roboto', Arial, sans-serif;
                                font-weight: 400;
                                line-height: 24px;
                                letter-spacing: 0.15px;
                                color: #5a00d6;
                              "
                            >
                              http://petworld.com/email_approval
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="direction: ltr; vertical-align: top; font-size: 0px; padding: 0px">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                      style="
                        width: 100%;
                        background: #ffffff;
                        background-color: #ffffff;
                        border-collapse: collapse;
                        border-spacing: 0px;
                        margin-top: 0px;
                        margin-right: auto;
                        margin-bottom: 0px;
                        margin-left: auto;"
                    >
                      <tbody>
                        <tr>
                          <td
                            align="left"
                            style="
                              direction: ltr;
                              vertical-align: top;
                              font-size: 16px;
                              padding-top: 0px;
                              padding-right: 24px;
                              padding-bottom: 48px;
                              padding-left: 24px;
                              word-break: break-word;
                              font-family: 'Roboto', Arial, sans-serif;
                              font-weight: 400;
                              line-height: 24px;
                              letter-spacing: 0.15px;
                              color: #000000;
                            "
                          >
                            Якщо у Вас виникнуть труднощі, то ми тут
                            <a
                              href="mailto:support@petworld.pet"
                              target="_blank"
                              style="
                                direction: ltr;
                                font-size: 16px;
                                padding: 0px;
                                word-break: break-word;
                                font-family: 'Roboto', Arial, sans-serif;
                                font-weight: 400;
                                line-height: 24px;
                                letter-spacing: 0.15px;
                                color: #5a00d6;
                              "
                            >
                              support&#64;petworld.pet
                            </a>
                            щоб допомогти.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="direction: ltr; vertical-align: top; font-size: 0px; padding: 0px">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                      style="
                        width: 100%;
                        background: rgba(227, 221, 255, 0.4);
                        background-color: rgba(227, 221, 255, 0.4);
                        border-collapse: collapse;
                        border-spacing: 0px;
                        margin-top: 0px;
                        margin-right: auto;
                        margin-bottom: 0px;
                        margin-left: auto;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            align="left"
                            style="
                              direction: ltr;
                              vertical-align: top;
                              font-size: 14px;
                              padding-top: 22px;
                              padding-right: 24px;
                              padding-bottom: 0px;
                              padding-left: 24px;
                              word-break: break-word;
                              font-family: 'Roboto', Arial, sans-serif;
                              font-weight: 400;
                              line-height: 24px;
                              letter-spacing: 0.15px;
                              color: #000000;
                            "
                          >
                            Бажаємо Вам,
                          </td>
                        </tr>
                        <tr>
                          <!-- TODO: Change path to the website (href) to the actual one -->
                          <td
                            align="left"
                            style="
                              direction: ltr;
                              vertical-align: top;
                              font-size: 14px;
                              padding-top: 0px;
                              padding-right: 24px;
                              padding-bottom: 22px;
                              padding-left: 24px;
                              word-break: break-word;
                              font-family: 'Roboto', Arial, sans-serif;
                              font-weight: 400;
                              line-height: 24px;
                              letter-spacing: 0.15px;
                              color: #000000;
                            "
                          >
                            приємного користування сайтом
                            <a
                              href="#"
                              target="_blank"
                              style="
                                direction: ltr;
                                font-size: 16px;
                                padding: 0px;
                                word-break: break-word;
                                font-family: 'Roboto', Arial, sans-serif;
                                font-weight: 400;
                                line-height: 24px;
                                letter-spacing: 0.15px;
                                color: #5a00d6;
                              "
                            >
                              Pet World
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="direction: ltr; vertical-align: top; font-size: 0px; padding: 0px">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      role="presentation"
                      style="
                        width: 100%;
                        background: #313131;
                        background-color: #313131;
                        border-radius: 0 0 6px 6px;
                        border-collapse: collapse;
                        border-spacing: 0px;
                        margin-top: 0px;
                        margin-right: auto;
                        margin-bottom: 0px;
                        margin-left: auto;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            align="center"
                            style="
                              direction: ltr;
                              vertical-align: top;
                              font-size: 0px;
                              padding-top: 8px;
                              padding-right: 24px;
                              padding-bottom: 24px;
                              padding-left: 24px;
                            "
                          >
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              role="presentation"
                              style="width: 100%; border-collapse: collapse; border-spacing: 0px"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="left"
                                    style="direction: ltr; vertical-align: center; font-size: 0px; padding: 0px"
                                  >
                                    <!-- TODO: Change path to the website (href) to the actual one -->
                                    <a href="#" target="_blank" style="width: 84px; height: 24px">
                                      <!-- TODO: Change path to the image (src) to the actual one -->
                                      <img
                                        src="data:image/png;base64,{{ footer_logo }}"
                                        alt="Pet World logo"
                                        width="84"
                                        height="24"
                                        style="
                                          border: 0;
                                          display: block;
                                          outline: none;
                                          text-decoration: none;
                                          width: 84px;
                                          height: 24px;
                                          font-size: 0px;
                                        "
                                      />
                                    </a>
                                  </td>
                                  <td
                                    align="right"
                                    style="direction: ltr; vertical-align: center; font-size: 14px; padding: 0px"
                                  >
                                    <table
                                      border="0"
                                      cellpadding="0"
                                      cellspacing="0"
                                      role="presentation"
                                      style="border-collapse: collapse; border-spacing: 0px"
                                    >
                                      <tbody>
                                        <tr>
                                          <td
                                            align="left"
                                            style="direction: ltr; vertical-align: top; font-size: 0px; padding: 0px"
                                          >
                                            <table
                                              border="0"
                                              cellpadding="0"
                                              cellspacing="0"
                                              role="presentation"
                                              style="width: 100%; border-collapse: collapse; border-spacing: 0px"
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    align="left"
                                                    style="
                                                      direction: ltr;
                                                      vertical-align: top;
                                                      font-size: 12px;
                                                      padding-top: 0px;
                                                      padding-right: 0px;
                                                      padding-bottom: 5px;
                                                      padding-left: 0px;
                                                      word-break: break-word;
                                                      font-family: 'Roboto', Arial, sans-serif;
                                                      font-weight: 700;
                                                      line-height: 10px;
                                                      letter-spacing: 0.21px;
                                                      color: #ffffff;
                                                    "
                                                  >
                                                    Контакти
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td
                                                    align="left"
                                                    style="
                                                      direction: ltr;
                                                      vertical-align: top;
                                                      font-size: 0px;
                                                      padding: 0px;
                                                    "
                                                  >
                                                    <a
                                                      href="mailto:support@petworld.pet"
                                                      target="_blank"
                                                      style="
                                                        direction: ltr;
                                                        font-size: 12px;
                                                        padding: 0px;
                                                        word-break: break-word;
                                                        font-family: 'Roboto', Arial, sans-serif;
                                                        font-weight: 400;
                                                        line-height: 10px;
                                                        letter-spacing: 0.21px;
                                                        color: #9786e3;
                                                      "
                                                    >
                                                      support&#64;petworld.pet
                                                    </a>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <!-- TODO: Change path to the 'Policy' (href) to the actual one -->
                          <td
                            align="center"
                            style="
                              direction: ltr;
                              vertical-align: top;
                              font-size: 8px;
                              padding-top: 0px;
                              padding-right: 24px;
                              padding-bottom: 8px;
                              padding-left: 24px;
                              word-break: break-word;
                              font-family: 'Roboto', Arial, sans-serif;
                              font-weight: 400;
                              line-height: 10px;
                              color: #d9d9d9;
                            "
                          >
                            Copyright 2024 |
                            <a
                              href="#"
                              target="_blank"
                              style="
                                direction: ltr;
                                font-size: 8px;
                                padding: 0px;
                                word-break: break-word;
                                font-family: 'Roboto', Arial, sans-serif;
                                font-weight: 400;
                                line-height: 10px;
                                color: #9786e3;
                              "
                            >
                              Політика конфіденційності
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
